{% extends 'base.html.twig' %}
{% block body %}
<!-- Page Content -->
<div class="container">
  <div class="row2">
    <div class="col-lg-8 mb-4">
    
       <h1> <span> Nouveau ingrédient</span></h1>  
      {{ form_start(form) }}
      {{ form_errors(form) }}
      <div class="control-group form-group">
          {{ form_label(form.nom) }} 
          {{ form_errors(form.nom) }}
          {{ form_widget(form.nom) }}
      </div>
      
       <div class="control-group form-group">
          {{ form_label(form.creer) }}
          {{ form_widget(form.creer) }}
      </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}
